<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="{{ page.title }} - {{ site.name }} - 作者:{{ site.author }}"/> 
	{% if page.tags.size > 0%}<meta name="keywords" content="{% for tag in page.tags %}{% if tag != "" %}{{ tag }}{% if forloop.index != page.tags.size %},{% endif %}{% endif %}{% endfor %}"/>{% endif %}
    <title>{{ page.title }} - {{ site.name }}</title>

    <!--<title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">-->
    <meta name="robots" content="index,follow">
    <meta itemprop="name" content="{{ site.title }}">

    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="{{ site.url }}/images/favicon.png" />
    <meta property="og:image:type" content="image/png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{% if site.twitter_username %}@{{ site.twitter_username }}{% else %} "lukashimsel" {% endif %}" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.url }}/images/favicon.png" />

    <link href="{{ "/atom.xml" | prepend: site.baseurl }}" type="application/atom+xml" rel="alternate" title="ATOM feed">
    <link href="{{ "/feed.xml" | prepend: site.baseurl }}" type="application/rss+xml" rel="alternate" title="RSS feed">


    <link rel="shortcut icon" href="{{ "/images/favicon.png" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/gridism.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/ionicons.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <script src="/assets/js/jquery-1.12.3.js"> </script>
    <script src="/assets/js/bootstrap.min.js"></script>
    
	<style>
        .blog-column{
            background: {{ site.accent }};
        }
    </style>
</head>